/*
--- 01 TYPOGRAPHY SYSTEM 

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
300
350
400
500
600
700
900

- Line heights 
Paragraph default: 1.6
Large: 1.2;

- letter spacing
.2rem
.3rem
.15rem

--- 02 COLORS

- Primary: 
#7B341E;

- Tints: 
#caaea5;
#d7c2bc;
#e5d6d2;
#f2ebe9;
#f2f6f7;
#fffefe


- Shades:
#251009;
#6f2f1b;

- Greys:
#333;
#666
#7c706b;
#aaa
#bbb;
#ccc

- Accents:
#3182CE;
#E53E3E;
#D69E2E;


--- 05 SHADOWS

- BOX-SHADOWS: 
0 1px 2px rgba(0,0,0,0.1);
0 12px 24px rgba(0, 0, 0, 0.25);
0 5px 10px 0 rgb(26 47 51 / 15%);
0 2px 5px 0 rgb(26 47 51 / 11%);
rgb(18 34 36 / 15%) 0px 5px 10px 0px;
rgb(88 94 94) 0px 3px 12px -6px; 

--- 06 BORDER-RADIUS
Default: .5rem
1rem 

--- 07 WHITESPACE

- spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

/**************************/
/* HTMl GENERAL STYLES */
/**************************/
:root{
    --clr-primary-900: #251009;
    --clr-primary-900-tint-600: #7c706b;
    --clr-primary-500: #6f2f1b;
    --clr-primary-400:  #7B341E;
    --clr-primary-300: #884835;
    --clr-primary-250: #caaea5;
    --clr-primary-200: #d7c2bc;
    --clr-primary-100: #e5d6d2;
    --clr-primary-90: #f2ebe9;
    --clr-primary-80: #fffefe;

    --clr-accent-blue:  #3182CE;
    --clr-accent-red:  #E53E3E;
    --clr-accent-yellow: #D69E2E;
    
    --clr-grey-850: #333;
    --clr-grey-800: #666;
    --clr-grey-700: #aaa;
    --clr-grey-200: #bbb;
    --clr-grey-100: #ccc;

    --clr-neutral-100: #fff;
    
    --ff-primary: 'Playfair Display', serif;
    --ff-secondary: 'Josefin Sans', sans-serif;
    /* --ff-secondary: 'Inter', sans-serif; */

    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-secondary);
    
    --fw-300: 300;
    --fw-350: 350;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;

    --fs-body: 1.8rem;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/
/* SECTIONS */
.section__container{
    width: 95%;
    margin: auto;
    position: relative;
    z-index: 8;
    background-color:var(--clr-neutral-100);
    border-radius: 10px;
}

.section__container:after, .section__container:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(.95);
    background-color: var(--clr-neutral-100);
    opacity: .15;
    border-radius: inherit;
    z-index: -1;
}

.section__container:after {
    top: -10px;
}

.section__container:before {
    top: 10px;
}

.section__container .scroll-icon-bg {
    position: absolute;
    z-index: inherit;
    top: 0;
    left: 50%;
    height: 82px;
    width: 82px;
    transform: translate(-50%,-50%);
    border-radius: 100vw;
    background-color: var(--clr-neutral-100);
}

.section__container .scroll-icon-bg:after {
    content: "";
    position: absolute;
    top: -2px;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translateX(-50%) scale(1.2);
    background-color: var(--clr-neutral-100);
    opacity: .15;
    border-radius: inherit;
    z-index: -1;
    height: 9rem;
    width: 9rem;
}

.section__container .scroll-icon {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: calc(100% - 50px);
    width: 20px;
    height: 35px;
    border: 2px solid var(--clr-primary-900);
    border-radius: 500px;
    background-color: var(--clr-neutral-100);
    cursor: pointer;
}

.section__container .scroll-icon:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 35%;
    width: 5px;
    height: 5px;
    border-radius: 500px;
    background-color: var(--clr-primary-900);
    animation: bounce .8s infinite alternate-reverse;
}

.container {
    width: min(95%, 130rem);
    margin: 0 auto;    
} 

/* GRID SYSTEM */
.grid{
    display: grid;
    column-gap: 4.8rem;
    row-gap: 3.2rem;
}

@media screen and (min-width: 40em) {
    .grid{
        row-gap: 4.8rem; 
    }
}

.grid--2-cols, .grid--3-cols, .grid--4-cols{
    grid-template-columns: 1fr;
}

@media screen and (min-width: 40em) {
    .grid--2-cols{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .grid--3-cols{
        grid-template-columns: repeat(3, 1fr);
    }

    .grid--4-cols{
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid--center-v{
    align-items: center;
}

/* SEPARATORS */
.separator, .separator--light{
    display: inline-block;
    width: 100%;
    height: 1px;
    border-top: 1px dashed var(--clr-primary-900);
    opacity: .3;
    border-radius: 100px;
    margin-block: 6.4rem;
}

.separator{
    border-top: 1px dashed var(--clr-primary-900);
}

.separator--light{
    border-top: 1px dashed var(--clr-grey-100);
}

/* HEADINGS & SUBHEADINGS */
.heading-primary, .heading-secondary{
    font-family: var(--ff-primary);
    color:  var(--clr-primary-900);
    line-height: 1.2;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.heading-primary{
    font-size: 4.8rem;
    font-weight: var(--fw-600);
}

@media screen and (min-width: 40em) {
    .heading-primary{
        font-size: 9.8rem;
    }
}

.heading-secondary{
    font-size: 3.6rem; 
    line-height: 1.2;
    font-weight: var(--fw-900);
}

@media screen and (min-width: 40em) {
    .heading-secondary{
        font-size: 5.2rem;
    }
}

.heading-tertiary {
    font-family: var(--ff-primary);
    font-size: 2.4rem;
    font-weight: var(--fw-700);
    margin-bottom: 1.6rem;
}

.heading-tertiary--lg{
    font-family: var(--ff-primary);
    font-size: 3.6rem;
    font-weight: var(--fw-700);
    margin-bottom: 3.2rem;
    line-height: 1.2;
}

@media screen and (min-width: 40em) {
    .heading-tertiary--lg{
        font-size:6.8rem;
    }
}

.subheading{
    display: block;
    font-size: 1.2rem;
    font-weight: var(--fw-600);
    color: var(--clr-neutral-100);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 1.6rem;
}

/* .subheading:before {
    content:'\00a0\00a0\00a0\00a0';
    color: var(--clr-primary-400);
    text-decoration: line-through;
    text-decoration-thickness: 0.3rem;
    margin: auto 1.6rem 0 0;
} */

.subheading--clr-dark{
    color: var(--clr-primary-900);
}

/* BUTTONS */
.btn,
.btn:link, 
.btn:visited {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    font-weight: var(--fw-300);
    color: var(--clr-neutral-100);
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 1.6rem 3.2rem;
    border-radius: 5px;
    width: auto;

    /* only for button tag */
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s;
    background-color: var(--clr-primary-400);
}

.btn.btn--view-menu:link, 
.btn.btn--view-menu:visited{
    background: transparent;
}

.btn:hover, 
.btn:active,
.btn.btn--view-menu:hover, 
.btn.btn--view-menu:active{
    background-color: var(--clr-primary-500);
}

/* HELPER/SETTING CLASSES */
.dual-btn--margin-left{
    margin-right: 0rem;
}

@media screen and (min-width: 40em) {
    .dual-btn--margin-left{
        margin-right: 1.6rem;
    }
}

.msg--tint{
    color: var(--clr-grey-700);
}

.msg--margin-bottom-md{
    margin-bottom: 4.8rem;
}

@media screen and (min-width: 40em) {
    .msg--margin-bottom-md{
        margin-bottom: 7.4rem;
    }
}

.margin-right-sm{ /* Helper class: might be used everywhere */
    margin-right: 1.6rem !important;
}

.margin-right-sm-responsive{
    margin-right: 1.6rem;
}

.margin-top-md{
    margin-top: 3.2rem !important;
}

.margin-top-lg-responsive{
    margin-top: 4.8rem;
}

.margin-top-xl-responsive{
    margin-top: 6.4rem;
}

.margin-top-md-responsive{
    margin-top: 3.2rem;
}

.margin-top-md-responsive--neg{
    margin-top: -3.2rem;
}

.margin-bottom-md-responsive{
    margin-bottom: 3.2rem;
}

.margin-bottom-sm-responsive{
    margin-bottom:  1.6rem;
}

@media screen and (min-width: 40em) {
    .margin-right-sm-responsive{
        margin-right: 0;
    }

    .margin-top-md-responsive{
        margin-top: 0;
    }

    .margin-top-md-responsive--neg{
        margin-top: 0;
    }

    .margin-top-lg-responsive{
        margin-top: 0;
    }

    .margin-top-xl-responsive{
        margin-top: 0rem;
    }

    .margin-bottom-md-responsive{
        margin-bottom: 0;
    }

    .margin-bottom-sm-responsive{
        margin-bottom:  0;
    }
}

.margin-bottom-md-sm{
    margin-bottom: 2.4rem !important;
}

.margin-bottom-sm{
    margin-bottom: 1.6rem !important;
}

.margin-bottom-md{
    margin-bottom: 3.2rem !important;
}

.text-justify{
    text-align:justify;
}

.text-center{
    text-align: center;
}

.text-center--responsive{
    text-align: center;
}

@media screen and (min-width: 40em) {
    .text-center--responsive{
        text-align: left;
    }
}

@media (max-width: 59em){
    .text-center--responsive{
        text-align: center;
    }
}

.social-links{
    display: flex;
    align-self: center;
    gap: 1.6rem;
}

.clr-light{
    color: var(--clr-neutral-100);
}

.clr-primary{
    color: var(--clr-primary-400);
}


