body{
    color: var(--clr-primary-900);
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    font-weight:300;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    background-image: linear-gradient(to right,  rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(/img/bg-3.webp);
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
}

/**************************/
/* HERO SECTION */
/**************************/
.section__hero{
    padding-block: 4.8rem 70.6rem;
    position: relative;
    color: var(--clr-primary-100);
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(34, 34, 34, 0.3)), url(/img/hero-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: attachment;
}

.hero__content{
    width: min(90%, 130rem);
    margin: 0 auto;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__content--title{
    color: var(--clr-neutral-100);
}

.hero__content--inner{
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 40em) {
    .hero__content--inner{
        text-align: left;
    }
}

.hero__content--message{
    color: var(--clr-neutral-200);
    margin-bottom: 4.8rem;
}

.hero__content--delivered-coffee{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.6rem;
    margin-top: 8rem;
}

@media screen and (min-width: 40em) {
    .hero__content--delivered-coffee{
        flex-direction: row;
    }
}

.hero__content--delivered-imgs{
    display: flex;
}

.hero__content--delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 2px solid var(--clr-primary-400);
}

.hero__content--delivered-imgs img:last-child{
    margin: 0rem;
}

.hero__content--delivered-text{
    color: var(--clr-neutral-200);
    font-weight: var(--fw-semi-bold);
}

.hero__content--delivered-text span{
    color: var(--clr-primary-300);
    font-weight: var(--fw-700);
}

/**************************/
/* TOP SECTION */
/**************************/
.top__section {
    padding: 6.4rem 0 3rem;
    -webkit-transform: translateY(-4vh);
    transform: translateY(-4vh);
}

/**************************/
/*  ABOUT SECTION */
/**************************/
.about-img {
    position: relative;
    max-height: 575px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgb(88 94 94) 0px 3px 12px -6px;
    
}

.about-img img{
    vertical-align: middle;
}

.about-img .play-video-anim {
    height: 90px;
    width: 90px;
    background-color: var(--clr-neutral-100);
    -webkit-animation: play-video-anim 1s cubic-bezier(.25,.8,.25,1) infinite;
    animation: play-video-anim 1s cubic-bezier(.25,.8,.25,1) infinite;
}

.about-img .play-video, .about-img .play-video-anim {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.about-img .play-video {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 35px;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-500);
}

.fa-play{
    color: var(--clr-neutral-100);
    font-weight: 900;
    font-size: 2.0rem;
    opacity: 1;
}

.about__content{
    text-align: center;
}

@media screen and (min-width: 40em) {
    .about__content{
        text-align: left;
    }
}

.about__content--btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4.8rem;
}

@media screen and (min-width: 40em) {
    .about__content--btns{
        justify-content: flex-start;
        flex-direction: row;
        text-align: left;
    }
}

.about__content--btns button{
    align-self: center;
}

.about__content--message{
    margin-bottom: 3.2rem;    
    /* width: 100%; */
}

@media screen and (min-width: 40em) {
    .about__content--message{
        margin-bottom: 4.8rem;
        width:89%;
    }
}

.about__content--social{
    display: flex;
    align-self: center;
    gap: 2.4rem;
}

/**************************/
/*  WHY US SECTION */
/**************************/
.feature-icon{
    color: var(--clr-primary-400);
    font-size: 3.2rem; 
    background-color: var(--clr-primary-100);
    margin-bottom: 2.4rem;
    padding: 1.6rem;
    border-radius: 50%;
}

/**************************/
/*  TEAM SECTION */
/**************************/
.card__content{
    background-color: var(--clr-neutral-100);
    box-shadow: 0 5px 10px 0 rgb(26 47 51 / 15%);
    border-radius: 5px;
    overflow: hidden;
}

.card__content--img{
    max-height: 800px;
    overflow: hidden;
}

@media screen and (min-width: 40em) {
    .card__content--img{
        max-height: 420px;
    }
}

.card__content--img img{
    transition: all 0.5s;
}

.card__content--img img:hover{
    transform: scale(1.1);
}

.card__content--title{
    margin:1.6rem 0 0.8rem 0;
}

.card__content--subtitle{
    position: relative;
}

.card__content--subtitle:after{
    content: '';
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 1.6rem;
    right: 0;
    bottom: 0rem;
    left: 0;
    width: 85%;
    height: 1px;
    margin-block: 2.4rem;
    border-bottom: 1px dashed var(--clr-primary-900);
    opacity: 0.3;
}

.card__content--social{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
}

.social-icon--opacity{
    color: var(--clr-primary-900-tint-600);
}

/**************************/
/*  NUMBERS SECTION */
/**************************/
.numbers{
    display: grid;
    place-items: center;
}

.numbers__block-num {
    position: relative;
}

.numbers__block-num span{
    display: inline-block;
    position: absolute;
    font-size: 4.8rem;
    color: var(--clr-primary-500);
    top: 50%;
    transform: translateY(-40%);
}

.numbers__block-num span.small{

    font-size: 3.6rem;
    transform: translateY(-30%);
 
}

.numbers__block-text{
    margin-top: -1.6rem;
    font-size: 1.0rem;
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

/**************************/
/*  OPENING HOURS SECTION */
/**************************/
.opening-hours--container{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    box-shadow: rgb(18 34 36 / 15%) 0px 5px 10px 0px;
    overflow: hidden;
}

@media screen and (min-width: 40em) {
    .opening-hours--container{
        grid-template-columns: 2fr 1fr;
    }
}

.opening-hours--content{
    display: grid;
    place-content: center;
    text-align: center; 
    padding: 3.2rem;
    background-image: linear-gradient(to right, rgb(46, 34, 23, 0.5), rgb(46, 34, 23, 0.5)), url(/img/club100.jpg);
    background-size:cover;
    background-attachment: fixed;
}

@media screen and (min-width: 40em) {
    .opening-hours--content{
        place-content: start;
        text-align: left;
        padding: 6.4rem;
        
    }
}

.opening-hours--title, .opening-hours--msg{
    color: var(--clr-neutral-100);
}

.opening-hours--msg{
    margin-bottom: 3.2rem;
}

.dual-bts button{
    margin-right: 0rem;
    margin-bottom: 1.6rem;

}

@media screen and (min-width: 40em) {
    .dual-bts button{
        margin-right: 1.6rem;
        margin-bottom: 0rem;
    }
}

/* .opening-hours--content button, .opening-hours--content a{
    justify-self: flex-start;
} */




/* - spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/
