body{
    color: var(--clr-primary-900);
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    font-weight: var(--fw-350);
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://img.freepik.com/premium-photo/dark-wood-texture-background_124507-7132.jpg?w=2000);
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
}

@media screen and (min-width: 40em) {
    body{
        background-image: linear-gradient(to right,  rgba(0, 0, 0, 095), rgba(0, 0, 0, 0.6)), url(https://img.freepik.com/premium-photo/dark-wood-texture-background_124507-7132.jpg?w=2000);
    }
}

section{
    transition: transform 1s, opacity 1s;
    scroll-margin-top: 10rem;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

/**************************/
/* NAVIGATION SECTION */
/**************************/
.logo{
    max-width: 18rem;
    margin-bottom: 0; 
}

.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-neutral-100);
    margin-inline: 1.6rem;
    box-shadow: rgb(0 0 0 / 29%) 1px 8px 13px -6px;
    height: 8.5rem;
    padding-inline: 4.8rem;
    border-radius: 1rem;
    transition: all 0.3s;
    z-index: 9999;
    transform: translateY(1.8rem);
}

/* STICKY NAV CLASS */
.sticky {
    position: sticky;
    top: 0;
    bottom: 0;
    box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.03);
}

.main-nav__list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav__link:link,
.main-nav__link:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary-900);
    letter-spacing: .2rem;
    transition: all 0.3s;

}

.main-nav__link:hover,
.main-nav__link:active{
    color: var(--clr-primary-400);
}

/* MOBILE NAVIGATION */
.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none; 
}

.icon-mobile-nav{
    font-size: 4.8rem;
    color: var(--clr-primary-400);
    vertical-align: middle;
}

.icon-mobile-nav[name="close-outline"]{
    display: none;
}

/**************************/
/* HERO SECTION */
/**************************/
.section__hero{
    padding-top: 80.5rem;
    margin-top: -9.6rem;
    position: relative;
    color: var(--clr-primary-100);
    height: 102vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(34, 34, 34, 0.3)), url(/img/hero-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: attachment;
    z-index: 0;
}

.hero__content{
    width: min(90%, 130rem);
    margin: 0 auto;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 40em) {
    .hero__content{
        transform: translate(-50%, -45%);
    }
}

.hero__content--title{
    color: var(--clr-neutral-100);
}

.hero__content--inner{
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 40em) {
    .hero__content--inner{
        text-align: left;
    }
}

.hero__content--message{
    margin-bottom: 4.8rem;
}

.hero__content--delivered-coffee{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.6rem;
    margin-top: 3.2rem;
}

@media screen and (min-width: 40em) {
    .hero__content--delivered-coffee{
        flex-direction: row;
    }
}

.hero__content--delivered-imgs{
    display: flex;
}

.hero__content--delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 5px solid var(--clr-primary-400);
}

.hero__content--delivered-imgs img:last-child{
    margin: 0rem;
}

.hero__content--delivered-text{
    color: var(--clr-grey-700);
    font-weight: var(--fw-semi-bold);
}

.hero__content--delivered-text span{
    color: var(--clr-primary-400);
    font-weight: var(--fw-700);
}

/**************************/
/* TOP SECTION */
/**************************/
.top__section {
    padding: 6.4rem 0 3rem;
    -webkit-transform: translateY(-4vh);
    transform: translateY(-4vh);
}

/**************************/
/*  ABOUT SECTION */
/**************************/
.about-img {
    position: relative;
    max-height: 575px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgb(88 94 94) 0px 3px 12px -6px;
}

.about-img img{
    vertical-align: middle;
}

.about-img .play-video-anim {
    height: 90px;
    width: 90px;
    background-color: var(--clr-neutral-100);
    -webkit-animation: play-video-anim 1s cubic-bezier(.25,.8,.25,1) infinite;
    animation: play-video-anim 1s cubic-bezier(.25,.8,.25,1) infinite;
}

.about-img .play-video, .about-img .play-video-anim {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.about-img .play-video {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 35px;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-500);
}

.fa-play{
    color: var(--clr-primary-900);
    font-weight: 900;
    font-size: 2.0rem;
    opacity: 1;
}

.about__content{
    text-align: center;
}

@media screen and (min-width: 40em) {
    .about__content{
        text-align: left;
    }
}

.about__content--btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4.8rem;
}

@media screen and (min-width: 40em) {
    .about__content--btns{
        justify-content: flex-start;
        flex-direction: row;
        text-align: left;
    }
}

.about__content--btns button{
    align-self: center;
}

.about__content--message{
    margin-bottom: 3.2rem;    
}

@media screen and (min-width: 40em) {
    .about__content--message{
        margin-bottom: 4.8rem;
        width:89%;
    }
}

/**************************/
/*  WHY US SECTION */
/**************************/
.feature-icon{
    color: var(--clr-primary-400);
    font-size: 3.2rem; 
    background-color: var(--clr-primary-100);
    margin-bottom: 2.4rem;
    padding: 1.6rem;
    border-radius: 50%;
}

/**************************/
/*  TEAM SECTION */
/**************************/
.card__content{
    background-color: var(--clr-neutral-100);
    box-shadow: 0 5px 10px 0 rgb(26 47 51 / 15%);
    border-radius: 5px;
    overflow: hidden;
}

.card__content--img{
    max-height: 800px;
    overflow: hidden;
}

@media screen and (min-width: 40em) {
    .card__content--img{
        max-height: 400px;
    }
}

.card__content--img img{
    transition: all 0.5s;
}

.card__content--img img:hover{
    transform: scale(1.1);
}

.card__content--title{
    margin:3.2rem 0 0.8rem 0;
}

.card__content--subtitle{
    position: relative;
}

.card__content--subtitle:after{
    content: '';
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 1.6rem;
    right: 0;
    bottom: 0rem;
    left: 0;
    width: 85%;
    height: 1px;
    margin-block: 2.4rem;
    border-bottom: .1rem dashed var(--clr-primary-900);
    opacity: 0.3;
}

.card__content--social{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
}

.social-icon--opacity{
    color: var(--clr-primary-900-tint-600);
}

/**************************/
/*  NUMBERS SECTION */
/**************************/
.numbers{
    display: grid;
    place-items: center;
}

.numbers__block-num {
    position: relative;
}

.numbers__block-num span{
    display: inline-block;
    position: absolute;
    font-size: 4.8rem;
    color: var(--clr-primary-500);
    top: 50%;
    transform: translateY(-40%);
}

.numbers__block-num span.small{
    font-size: 3.6rem;
    transform: translateY(-30%);
}

.numbers__block-text{
    margin-top: -1.6rem;
    font-size: 1.0rem;
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

/**************************/
/*  MENU SECTION */
/**************************/
.menu-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.6rem;
    margin-top: 3.2rem;
}

.menu-btn{
    background-color: transparent;
    color: var(--clr-primary-900);
}

.menu-btn:hover, 
.menu-btn:active{
    color: var(--clr-neutral-100);
}

.menu-btn--active{
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
}

.menu-list{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 4.8rem;

}

.menu-list--body{
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    justify-items: flex-start;
}

.menu-item--img{
    display: none;
    /* box-shadow: rgb(18 34 36 / 15%) 0px 5px 10px 0px; */
    max-width: 120px;
    border-radius: 5px;
    overflow: hidden;
    vertical-align: middle;
}

@media screen and (min-width: 40em) {
    .menu-item--img{
        display: block;
    }
    
}

.menu-item-title{
    margin-bottom: .4rem;
}

.menu-item--price{
    margin-left: auto;
    margin-top: .8rem;
    font-size: 2rem;
    font-weight: var(--fw-600);
}

/**************************/
/*  OPENING HOURS SECTION */
/**************************/
.opening-hours--container{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    box-shadow: rgb(18 34 36 / 15%) 0px 5px 10px 0px;
    overflow: hidden;
}

@media screen and (min-width: 40em) {
    .opening-hours--container{
        grid-template-columns: 65% 35%;
    }
}

.opening-hours--content{
    display: grid;
    place-content: center;
    text-align: center; 
    padding: 3.2rem;
    background-image: linear-gradient( rgb(62, 26, 15, 0.55), rgb(62, 26, 15, 0.55)), url(/img/club100.jpg);
    background-size:cover;
    background-attachment: attachment;
}

@media screen and (min-width: 40em) {
    .opening-hours--content{
        place-content: start;
        text-align: left;
        padding: 6.4rem;
        
    }
}

.opening-hours--title, .opening-hours--msg{
    color: var(--clr-neutral-100);
}

.opening-hours--msg{
    color: var(--clr-grey-200);
    margin-bottom: 3.2rem;
}

.dual-bts button{
    margin-right: 0rem;
    margin-bottom: 1.6rem;

}

@media screen and (min-width: 40em) {
    .dual-bts button{
        margin-right: 1.6rem;
        margin-bottom: 0rem;
    }
}

.opening-hours--time{
    place-content: center;
    text-align: center;
    padding: 7.0rem;
}

.opening-hours--time ul{
    display: grid;
    row-gap: 4.8rem;
}

.days{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: var(--fw-600);
    letter-spacing: .3rem;
    margin-bottom: .8rem;
}

.time{
    font-size: 2.8rem;
    font-weight: var(--fw-700);
    margin-bottom: -.8rem;
}

/**************************/
/*  MOBILE APP SECTION */
/**************************/
.mobile-app__content--left{
    place-items: center;
    text-align: center;
    transform: translateY(-8.5%);
}

@media screen and (min-width: 40em) {
    .mobile-app__content--left{
        place-items: left;
        text-align: left;
    }
}

.app-icon{
    vertical-align: middle;
    margin-right: 1.2rem;
    font-size: 1.8rem;
}

.coffee-img{
    transform: scale(1);
    filter: brightness(100%); 
    z-index: 999;
    margin-top: -4rem;
}

@media screen and (min-width: 40em) {
    .coffee-img{
        transform: scale(1.1); 
        margin-top: 0;
    }
}

/**************************/
/*  GALLERY & REVIEWS SECTION */
/**************************/
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .8rem;
    row-gap: .8rem;
}

@media screen and (min-width: 40em) {
    .gallery{
        column-gap: 1.6rem;
        row-gap: 1.6rem;
    }
}

.gallery-item{
    overflow: hidden;
    border-radius: 0.5rem;
}

.gallery-item img{
    transition: all 0.4s;
}

.gallery-item img:hover{
    transform: scale(1.1);
}

.reviews__content--message{
    margin-bottom: 4.8rem;    
}

/* CAROUSEL */
.reviews__content{
    grid-row: 1;
    margin-bottom: 4.8rem;
}

@media screen and (min-width: 40em) {
    .reviews__content{
        grid-row: 1;
        margin-bottom: 0;
    }
    .gallery{
        grid-row: 1;
    }
}

.carousel{
    height: 20.15rem; 
    max-width: 60.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: relative;
}

.carousel__slider{
    width:60.1rem;
    border-radius: .8rem;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem;
    gap: 7rem;
    position: relative;
}

.carousel__slide{
    display: flex;
    align-items: center;
    gap: 9.6rem;
    padding: 3.2rem 3.2rem 3.2rem 9.6rem;
    border-radius: .8rem;

    position: absolute; 
    background-color: var(--clr-primary-400);
}

.carousel__testimonial--img{
    height: 10rem;
    border-radius: .5rem;
    transform: scale(2.3);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25); 
}

.carousel__testimonial--text{
    font-size: 1.8rem;
    font-weight: var(--fw-400);
    margin-bottom: 2.4rem;

    color:var(--clr-primary-200);
}

.carousel__testimonial--author{
    font-size: 1.4rem;
    margin-bottom: .4rem;
    color: var(--clr-primary-250);
}

.carousel__testimonial--job{
    font-size:1.2rem;
    color: var(--clr-primary-250);
}

.carousel-btn{
    background-color: var(--clr-neutral-100);
    border: none;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 3;
}

.carousel-btn--right{
    right: 0;
    top: 50%;
    transform: translate(50%, -50%)
}

.carousel-btn--left{
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%)
}

.carousel-btn--icon{
    height: 2.4rem;
    width: 2.4rem;
    stroke: var(--clr-primary-400);
}

.dots{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 12.8rem);
    display: flex;
    gap: 1.2rem;
    z-index: 2;
}

.dot{
    border: 0;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    background-color: var(--clr-primary-100);
    cursor: pointer;

}

.dot--active{
    background-color: var(--clr-primary-400);
}

.cooking-tips--body{
    border-radius: .5rem;
    box-shadow: rgb(18 34 36 / 15%) 0px 5px 10px 0px;
    overflow: hidden;
}

.cooking-tips--img{
    display: relative;
    height: 34rem;
    overflow: hidden;
    margin-top: -3.2rem;
    background-color: var(--clr-neutral-100);
}

.img-tag{
    display: inline-block;  
    transform: translate(2.4rem, 6rem);
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    font-size: 1.2rem;
    letter-spacing: .15rem;
    z-index: 2;
}

.cooking-tips--img .img-tag.article{
    background-color: var(--clr-accent-yellow);
    ;
}

.cooking-tips--img .img-tag.recipe{
    background-color: var(--clr-accent-red);
    ;
}

.cooking-tips--img .img-tag.blog{
    background-color: var(--clr-accent-blue);
}

.cooking-tips--img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cooking-tips--content, 
.cooking-tips--footer{
    margin-inline: 2.4rem;
}

/*💡 pseudo horizontal dashed line */
.cooking-tips--content{
    position: relative;
    padding-bottom: 2.4rem;
} 

.cooking-tips--content:after{
    content: '';
    position: absolute; 
    border-bottom: .1rem dashed var(--clr-primary-900);
    opacity: 0.3;
    width: 100%;
}

.cooking-tips-msg{
    margin-bottom: 2.4rem;
}

.cooking-tips--body-user{
    margin: 0 2.4rem 2.4rem 2.4rem;
}

.cooking-tips--body-user{
    display: flex;
    align-items: center;
}

.cooking-tips--body-user img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.cooking-tips--body-user .user-name{
    font-size: 1.1rem;
    font-weight: var(--fw-700);
    letter-spacing: .15rem;
    text-transform: uppercase;
}

.cooking-tips--body-user .date{
    font-size: 1.4rem;
    font-weight: var(--fw-300);
    background-color: var(--clr-primary-90);
    padding: .3rem 1.3rem;
    border-radius: 5rem;
    margin-left: auto;
}

.cooking-tips--footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 0;
    margin-top: 6.4rem;
}

@media screen and (min-width: 40em) {
    .cooking-tips--footer{
        flex-direction: row;
        justify-content: space-between;
    }
}

.cooking-tips--footer .btn{
    align-self: center;
}

/**************************/
/* NEWSLETTER SECTION */
/**************************/
.newsletter {
    display: grid;
    place-content: center;
    background-image: linear-gradient( rgb(62, 26, 15, 0.75), rgb(62, 26, 15, 0.75)), url(https://i.pinimg.com/originals/6a/9a/b6/6a9ab61c40cce683a55749c3deae8aaf.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: attachment;
    box-shadow: rgb(18 34 36 / 15%) 0px 5px 10px 0px;
    border-radius: 1rem;
    overflow: hidden;
}

.newsletter--content{
    margin: 6.4rem;
} 

.newsletter-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

@media screen and (min-width: 40em) {
    .newsletter-form{
        flex-direction: row;
        gap: 1.6rem;
    }
}

.newsletter-form input{
    flex-basis: 30%;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    text-align: left;
    border-radius: .5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.newsletter-form input::placeholder{
    color: var(--clr-grey-700);
}

/**************************/
/* CONTACT SECTION */
/**************************/
.footer{
    color: var(--clr-neutral-100);
    background-color: transparent;
}

.contact-form--body{
    gap: 3rem;
    margin: 3rem 3rem 0 3.2rem;
}

.contact-form--body input, .contact-form--body textarea, .contact-form--body select{
    min-width: 100%;
    max-width: 100%;
    padding: 1.5rem 3.0rem;
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 2px 5px 0 rgb(26 47 51 / 11%);
}

.contact-form--body input::placeholder{
    color: var(--clr-grey-700);
}

.contact-form--body *:focus{
    outline: .1rem solid var(--clr-primary-400);
}

.contact-form--body textarea{
    grid-column: 1 /-1;
}

.contact-form--btn{
    grid-column: 1 /-1;
}

#map{
    height: 40rem;
    background-color: var( --clr-primary-90);
    border-radius: .5rem;
}

/* leaflet-popup */
.leaflet-popup .leaflet-popup-content-wrapper {
    color: var(--clr-primary-900);
    font-family: var(--ff-secondary);
}

.places-popup .leaflet-popup-content-wrapper {
    border-left: 3px solid #2A4365;
}

.main-popup .leaflet-popup-content-wrapper {
    border-left: 3px solid var(--clr-primary-400);
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1.6rem;
}

/* leaflet search bar */
.leaflet-touch .leaflet-bar {
    background-clip: padding-box;
    box-shadow: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-family: inherit;
    color: #000;
    border: none;
    text-align: left;
    border-radius: .5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

ul{
    list-style-type: none;
}

.leaflet-control-attribution.leaflet-control.esri-truncated-attribution{
    display: none;
}

select#optionsSelect{
    display: grid;
    place-items: center;
    width: 3.33rem;
    height: 1rem;
    margin-top: 2rem;
    backdrop-filter: blur(1rem);
    z-index: 0;
    cursor: pointer;
}

#optionsSelect{
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: var(--fw-500);
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48' height='36' viewBox='0 0 48 36' fill='rgb(28,28,28)'%3E%3Crect x='16' y='12' width='16' height='2' /%3E%3Crect x='16' y='17' width='16' height='2' /%3E%3Crect x='16' y='22' width='16' height='2' /%3E%3C/svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4.5em;
}

/* Routing control */
.leaflet-routing-container{
    z-index: 0;
    cursor: pointer;
    transform: translateY(5%);
}

.leaflet-interactive { 
    fill: none;
    stroke-dasharray: 10,10; 
    stroke-width: 2; 
}

/* changes Leaflet default marker icon color change */
img.hueChangeBrown { filter: brightness(0) saturate(100%) invert(22%) sepia(10%) saturate(7364%) hue-rotate(341deg) brightness(96%) contrast(90%)} 

img.hueChangeBlue { filter: brightness(0) saturate(100%) invert(21%) sepia(72%) saturate(425%) hue-rotate(175deg) brightness(92%) contrast(91%);} 

.gps_ring {
    border: 3px solid var(--clr-primary-400);
    -webkit-border-radius: 40px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulsate 1s ease-out; 
    -webkit-animation-iteration-count: infinite;
    margin-top: -19px;
    margin-left: -14px;
}

@-webkit-keyframes pulsate {
    0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
    }
}

/**************************/
/* FOOTER SECTION */
/**************************/
.subscribe-form--body{
    row-gap: 1.8rem; 
}

@media screen and (min-width: 40em) {
    .subscribe-form--body{
        row-gap: 1.8rem; 
    }
}

.subscribe-form--body input{
    min-width: 100%;
    max-width: 100%;
    padding: 1.5rem 3.0rem;
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 2px 5px 0 rgb(26 47 51 / 11%);
}

.subscribe-form--body input::placeholder{
    color: var(--clr-grey-700);
}

.subscribe-form--body *:focus{
    outline: .1rem solid var(--clr-primary-400);
}

.subscribe-footer--title, 
.about-footer--title{
    margin-bottom: 3.2rem;
}

.subscribe-footer--msg{
    margin-bottom: .8rem;
}

.footer-body--top{
    margin-top: 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-footer--links{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.contact-footer--links-item{
    display: flex;
    justify-content: space-between;
}

.contact-footer--links-item .item-title{
    font-size: 1.2rem;
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: .2rem;

}

.footer-link{
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-accent-yellow);
}

/**************************/
/* COPYRIGHT SECTION */
/**************************/
.copyright-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
}

@media screen and (min-width: 40em) {
    .copyright-body{
        flex-direction: row;
    }
}

.copyright-body p, .copyright-body a{
    text-decoration: none;
    color: var(--clr-grey-800);
}

.footer-link.back-up{
    color: var(--clr-accent-yellow);
}

.modal {
    place-content: ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    padding: 6rem 6rem 0 6rem;
    background-color: var(--clr-primary-80);
    border-radius: 1rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 99999;
}

.modal-header{
    font-size: 2.4rem;
    margin-block: 0 4.8rem;
    line-height: 1;
}

@media screen and (min-width: 40em) {
    .modal-header{
        font-size: 3rem;
    }
}

.modal-form--body{
    margin-inline: -2rem;
}

.modal-form--btn{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 /-1;
    margin-bottom: 3.2rem;
}

.show-modal {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}

.close-modal--btn {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    transform: translate(100%, -70%);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index:9999;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
    display: none;
}
